<extend name="Base/layout"/>

<block name="body">
	<div style="margin-top:20px;"></div>
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li>
					<a href="">微风投</a>
				</li>
				<li>
					<a href="">新闻中心</a>
				</li>
				<li class="active">所有新闻</li>
			</ol>
		</div>
		<div class="row">
			<div>
				<div class="col-xs-5">
					<a href="#" class="thumbnail img-rounded">
						<img src="http://www.weifengtou.com/Uploads/Picture/2015-05-29/5567df8febd30.jpg" alt="..."></a>
				</div>
				<div class="col-xs-7">
					<p class="margin-0">
						<a href="">当心！这6种方式会让你和联合创始人闹翻</a>
					</p>
					<p class="margin-0">sunnyfanyn</p>    
					<p class="margin-0">发布时间：2015-05-29</p>
				</div>
			</div>
		</div>
	</div>
</block>