<extend name="Base/layout"/>

<block name="body">
	<!-- <div style="margin-top:20px;"></div> -->
	<div class="container-fiuld bk-fff">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb bk-fff" style="margin:0;">
					<li>
						<a href="">微风投</a>
					</li>
					<li>
						<a href="">新闻中心</a>
					</li>
					<li class="active">所有新闻</li>
					<a class="pull-right">分类</a>
				</ol>
			</div>
		</div>
		<div style="padding-top:5px;background:#ccc;"></div>
		<div class="row">
			<div id="news_list">
				<include file="Template:news_list.tpl" />
			</div>
		</div>
	</div>
</block>