<!-- common layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><?php 
    echo C('SEO_TITLE')?C('SEO_TITLE'):C('TITLE');
    ?></title>
    <meta name="KEYWORDS" content="<?php 
    echo C('SEO_KEYWORDS')?C('SEO_KEYWORDS'):C('KEYWORDS');
    ?>"><meta name="DESCRIPTION" content="<?php 
    echo C('SEO_DESCRIPTION')?C('SEO_DESCRIPTION'):C('DESCRIPTION');
    ?>" />
    <include file="Public:head" />
</head>
<body>
	<include file="Public:header1" />
	<div class="wrap_con" id="wrap_con">
		<include file="Public:body" />		
	</div>
	<include file="Public:footer" />
</body>
</html>