<div class="container-fluid bk-fff">
	<div class="row reset-0 ">
		<h5>用户须知</h5>
		<div class="text_indent2">
			<p>用户在本网站注册时，须依服务注册表之提示提供用户本人真实、正确、最新及完整的资料，并保证个人资料的适时更新，因用户提供个人信息不准确、不完整及未及时更新给用户造成的任何损害，本公司不承担任何责任。因用户提供个人信息不准确、不完整及未及时更新给本公司造成损失的，本公司保留追偿的权利。</p>
			<p>用户一旦注册成功成为用户，即得到一个密码和帐号。如果用户未保管好自己的帐号和密码而对用户、 微风投平台造成的损害，用户将负全部责任。另外，每个用户应对其帐户中的所有活动和事件负全责。用户可随时改变您的密码和图标，也可以结束旧的帐户重开一个新帐户。用户同意若发现任何非法使用用户帐号或安全漏洞的情况，应立即通告微风投平台。</p>
		</div>
	</div>
</div>
<div class="container-fluid bk-fff">
	<div class="row reset-0 ">
		<h5>联系我们</h5>
		<div class="text_indent2">
			<p>电话：400-700-8998</p>
			<p>邮箱：kefu@weifengtou.com</p>
			<p>地址：郑州市金水区健康路49号(市七中对面)</p>
		</div>
	</div>
</div>