<style>
	footer{
		background: #333;
		color: #fff;
		padding: 15px 0 ;
	}
	#footer_p1{
		margin-bottom: 0;
	}
</style>
<block name="footer">
	<div class="center"><p class="reset-0" style="line-height:2.0;padding-top:10px;color:#666;">官方服务热线:400-700-8998</p></div>
	<div class="container text-center" style="margin-bottom:15px;">
        <p><a style="text-decoration:none;color:#da251c" href="{:U('Home/Index/index')}">首页</a> | <a style="text-decoration:none;color:#da251c" href="__SOURCE_URL__/index.php?s=Home/Index/index/machine/pc">访问电脑版</a> | <a style="text-decoration:none;color:#da251c" href="{:U('Help/index')}">帮助中心</a></p>
		<p class="center " id="footer_p1" style="color:#999;"><small>COPYRIGHT©2011-2016 豫ICP备11020081号-2</small></p>
    </div>
    <div style="height:50px;"></div>
	<!-- <footer class="footer">
	</footer> -->
</block>