<style>
    #header1{
        background: #222;
    }
</style>
<div id="header1">
    <div class="container" style="height:50px;">
        <div style="max-height:50px;display:block;padding:10px 0 10px 0;">
            <div style="max-height:30px;display:block;width:120px;">
                <img class="pull-left" style="max-height:30px;display:block;width:120px;" src="__SITE__/images/flogo.gif">
            </div>
                <a href="" class="pull-right" style="line-height:30px;">test</a>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a href="#" class="btn btn-default" role="button">首页</a>
        <a href="#" class="btn btn-default" role="button">好项目</a>
        <a href="#" class="btn btn-default" role="button">投资人</a>
        <a href="#" class="btn btn-default" role="button">服务中心</a>
    </div>
</div>