<!-- jquery -->
<script src="__STATIC__/jquery-1.10.2.min.js"></script>

<!-- bootstrap -->
<link rel="stylesheet" href="__STATIC__/bootstrap-3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/bootstrap-3.3.0/css/bootstrap-theme.min.css">
<script src="__STATIC__/bootstrap-3.3.0/js/bootstrap.min.js"></script>

<!-- site -->
<link rel="stylesheet" href="__SITE__/site.css">
<script src="__SITE__/site.js"></script>

<!-- dom resize -->
<script src="__STATIC__/jquery-resize/jquery.ba-resize.min.js"></script>

<!-- self -->
<block name="head"></block>