<style>
    #header1{
        background: #222;
    }
</style>
<div id="header1">
    <div class="container" style="height:50px;">
        <div style="max-height:50px;display:block;padding:10px 0 10px 0;">
            <div style="max-height:30px;display:block;width:120px;">
                <a href="{:U('Index/index')}">
                    <img class="pull-left" style="max-height:30px;display:block;width:120px;" src="__SITE__/images/flogo.gif"></a>
            </div>
            <div class="pull-right" style="line-height:30px;">
                <?php if (!session('userInfo')): ?>
                    <div>
                        <a href="{:U('User/login')}"><b style="color:#fff">登陆</b></a>
                        <a href="{:U('User/register')}"><b style="color:#fff">注册</b></a>
                    </div>
                <?php else: ?>
                    <div class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{$userInfo[0]['username']}<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="#" style="color:#fff">个人中心</a></li>
                            <li class="divider"></li>
                            <li><a href="{:U('User/logout')}" style="color:#fff">退出</a></li>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="container-fuild" style="background:#fff;height:40px;margin-bottom:4px;position:;">
        <div class="col-xs-3 center reset-0 text-center" isActive="Index"><a class="this_1" href="{:U('Index/index')}" style="text-decoration: none;"><b>首页</b></a></div>
        <div class="col-xs-3 center reset-0 text-center" isActive="Project"><a class="this_1" href="{:U('Project/projects')}" style="text-decoration: none;"><b>好项目</b></a></div>
        <div class="col-xs-3 center reset-0 text-center" isActive="Investor"><a class="this_1" href="{:U('Investor/investors')}" style="text-decoration: none;"><b>投资人</b></a></div>
        <div class="col-xs-3 center reset-0 text-center" isActive="News"><a class="this_1" href="{:U('News/index')}" style="text-decoration: none;"><b>新闻</b></a></div>
    </div>
    <style>
    a.this_1{
        font-size: 16px;
        color:#000;
        line-height: 40px;
    }
    </style>
    <script>
    jQuery(document).ready(function($) {
        // Stuff to do as soon as the DOM is ready;
        $('div[isActive={$Think.CONTROLLER_NAME}]').css({'border-bottom':'4px solid #ffa800'})
        $('div[isActive={$Think.CONTROLLER_NAME}]').find('b').css({'color':'#ffa800'})
    });
    </script>
    <!-- <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a href="{:U('Index/index')}" class="btn btn-default" role="button">首页</a>
        <a href="{:U('Project/projects')}" class="btn btn-default" role="button">好项目</a>
        <a href="{:U('Investor/investors')}" class="btn btn-default" role="button">投资人</a>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                服务中心
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a class="reset-0" href="{:U('Roadshow/index')}">路演专题</a>
                </li>
                <li>
                    <a class="reset-0" href="{:U('Mfilm/index')}">微风投电影</a>
                </li>
                <li>
                    <a class="reset-0" href="{:U('News/index')}">新闻中心</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="reset-0" href="{:U('Server/index')}">我们的服务</a>
                </li>
            </ul>
        </div>
    </div> -->
</div>