<style>
    #header1{
        background: #222;
    }
</style>
<div id="header1">
    <div class="container" style="height:44px;background:#fff;">
        <div class="row" style="padding:10px 0;line-height:24px;">
            <div class="col-xs-3" style="height:24px"><a href="{:U('Index/index')}"><img src="__SITE__/images/logo32.png" style="height:24px" alt=""></a></div>
            <div class="col-xs-6" style="font-size:22px;font-weight:bold;color:#da251c;"><center>中国微风投</center></div>
            <div class="col-xs-3" style="height:24px">
                <?php if (!session('userInfo')): ?>
                    <div class="pull-right">
                        <a href="{:U('User/login')}"><img src="__SITE__/images/wdeng.gif" style="height:24px;" alt=""></a>
                    </div>
                <?php else: ?>
                    <div class="dropdown pull-right">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="__SITE__/images/ydeng.gif" style="height:24px;" alt=""></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="{:U('Home/UserCenter/index')}" >个人中心</a></li>
                            <li class="divider"></li>
                            <li><a href="{:U('User/logout')}" >{$userInfo[0]['username']} 退出</a></li>
                        </ul>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
<div id="bottom_fixed" class="">
    <div class="col-xs-3 center text-center" isActive="Index">
        <a class="this_1" href="{:U('Index/index')}" style="text-decoration: none;">
            <i class="bottom_mav_i icon-home"></i>
            <br>
            <span>首页</span>
        </a>
    </div>
    <div class="col-xs-3 center text-center" isActive="Project">
        <a class="this_1" href="{:U('Project/projects')}" style="text-decoration: none;">
            <i class="bottom_mav_i icon-tasks"></i>
            <br>
            <span>好项目</span>
        </a>
    </div>
    <div class="col-xs-3 center text-center" isActive="Investor">
        <a class="this_1" href="{:U('Investor/investors')}" style="text-decoration: none;">
            <i class="bottom_mav_i icon-user"></i>
            <br>
            <span>投资人</span>
        </a>
    </div>
    <div class="col-xs-3 center text-center" isActive="News">
        <a class="this_1" href="{:U('News/index')}" style="text-decoration: none;">
            <i class="bottom_mav_i icon-globe"></i>
            <br>
            <span>新闻</span>
        </a>
    </div>
</div>
<style>
#bottom_fixed{
    position:fixed;
    background:#fff;
    height:50px;
    padding:4px 0;
    border-top:1px #bfbfbf solid;
    bottom:0;
    width: 100%;
    z-index:99;
}
i.bottom_mav_i{
    color:#bfbfbf;font-size: 25px;height:25px;
}
a.this_1 span{
    color:#bfbfbf;
    font-size: 12px;
    height:12px;
}
</style>
<script>
jQuery(document).ready(function($) {
    // Stuff to do as soon as the DOM is ready;
    // $('div[isActive={$Think.CONTROLLER_NAME}]').css({'border-bottom':'4px solid #ffa800'});
    $('div[isActive={$Think.CONTROLLER_NAME}]').find("i.bottom_mav_i").css({'color':'#da251c'});
    $('div[isActive={$Think.CONTROLLER_NAME}]').find("a.this_1>span").css({'color':'#da251c'});
});
</script>