<h4 class="alert alert-success">好项目</h4>
<div>
	<div>
		<div class="panel panel-primary">
			<div class="panel-heading">Panel heading without title</div>
			<div class="panel-body">
				<h5><a>title</a></h5>
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="...">
				</a>
				<p>content</p>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">Panel heading without title</div>
			<div class="panel-body">
				<h5><a>title</a></h5>
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="...">
				</a>
				<p>content</p>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">Panel heading without title</div>
			<div class="panel-body">
				<h5><a>title</a></h5>
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="...">
				</a>
				<p>content</p>
			</div>
		</div>
	</div>
</div>