<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-sm alert-default">
                <div style="border-bottom:1px solid #ccc;margin-bottom:5px;">
                    <h4>为什么选择微风投?</h4>
                    <p>微风投专注小微实体企业融资，线下实地考察，精选优质项目，独创分期模式确保投资人资金安全，操作模式安全透明、流程完善;让价值链的每一个环节都成为赢家。</p>
                </div>
                <div style="border-bottom:1px solid #ccc;margin-bottom:5px;">
                    <h4>融资成功后，微风投为你提供以下服务</h4>
                    <p>投资去向透明化：资金使用情况短信通知，投资人清楚资金去向。</p>
                    <p>运营项目透明化：项目运营数据定期反馈，投资人清晰项目运营状况。</p>
                    <p>监管过程透明化：项目运营监管，定期经营数据反馈，确保投资安心。</p>
                </div>
                <div style="border-bottom:1px solid #ccc;margin-bottom:5px;">
                    <h4>我们对项目方和投资方的利益做了考虑</h4>
                    <p>资金来自于多位投资人，融资更高效。</p>
                    <p>超长周期化整为零，减轻资金压力，化解经营风险。</p>
                    <p>以时间换空间，增加企业估值，打好发展基础。</p>
                    <p>整合企业资源，对接多方渠道，助推企业增长。</p>
                    <p>风险有效控制，资金快速流转，投资多方受益。</p>
                </div>
                <div style="border-bottom:1px solid #ccc;margin-bottom:5px;">
                    <h4>联系我们</h4>
                    <p>官方服务热线：400-700-8998</p>
                    <p>官方在线咨询：QQ 3206590986</p>
                    <p>官方投诉电话：15036658123</p>
                    <p>官方在线投诉：QQ 3206590986</p>
                </div>
                <div style="margin-bottom:5px;">
                    <p>如果你想了解更多，请看微风投<a href="">帮助文档</a></p>
                </div>
            </div>
        </div>
    </div>
</div>