<h4 class="alert alert-success">投资人</h4>
<div>
	<div class="panel panel-primary">
		<div class="panel-heading">微风投认证投资人<span class="pull-right">
			<a href="" style="color:#fff;">
			更多
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
		</span></div>
		<div class="panel-body">
			<br>
			<div class="row">
				<div class="col-xs-6">
					<a href="#" class="thumbnail">
						<img src="__SOURCE_URL__/Uploads/Investor/thumb_20150123145941_262.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6">
					<h5><a>title</a></h5>
					<p>content</p>
				</div>
			</div>
			<hr>
			<br>
			<div class="row">
				<div class="col-xs-6">
					<a href="#" class="thumbnail">
						<img src="__SOURCE_URL__/Uploads/Investor/thumb_20150123145941_262.jpg" alt="...">
					</a>
				</div>
				<div class="col-xs-6">
					<h5><a>title</a></h5>
					<p>content</p>
				</div>
			</div>
		</div>
	</div>
</div>