<extend name="Base/layout"/>

<block name="body">
	<div class="container">
		<div class="row">
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-6">test</div>
  			<div class="col-xs-12">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
  			<div class="col-xs-4">test</div>
		</div>
	</div>
</block>
