<h4 class="alert alert-success">好项目</h4>
<div>
	<div>
		<!-- <div class="panel panel-primary">
			<div class="panel-heading">郑州美特美家具有限公司</div>
			<div class="panel-body">
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="..."></a>
				<p>专业从事太空舱酒店领域产品的研发、制造、销售和太空舱酒店品牌运营、管理为一体的实业公司。</p>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">郑州美特美家具有限公司</div>
			<div class="panel-body">
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="..."></a>
				<p>专业从事太空舱酒店领域产品的研发、制造、销售和太空舱酒店品牌运营、管理为一体的实业公司。</p>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">郑州美特美家具有限公司</div>
			<div class="panel-body">
				<a href="#" class="thumbnail">
					<img src="http://www.weifengtou.com/Uploads/Album/20141125085419_714.jpg" alt="..."></a>
				<p>专业从事太空舱酒店领域产品的研发、制造、销售和太空舱酒店品牌运营、管理为一体的实业公司。</p>
			</div>
		</div> -->
		<include file="Template:project.tpl" />
	</div>
</div>