<h4 class="alert alert-success">
	新闻
	<small class="pull-right" style="line-height:24px;">
		<a href="{:U('News/index')}">
			更多
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</small>
</h4>

<div>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="badge">新</span><span class="pull-right">2015.05.27</span>
		</li>
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="badge">新</span><span class="pull-right">2015.05.27</span>
		</li>
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="badge">新</span><span class="pull-right">2015.05.27</span>
		</li>
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="pull-right">2015.05.27</span>
		</li>
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="pull-right">2015.05.27</span>
		</li>
		<li class="list-group-item">
			<a href="">梧桐汇·头牌剧工场正式运营 打造中原戏剧文化品牌</a>
			<span class="pull-right">2015.05.27</span>
		</li>
	</ul>
</div>