<div class="alert alert-success reset-0 index-h4">
	新闻
	<small class="pull-right" style="line-height:40px;">
		<a href="{:U('News/index')}">
			更多
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</small>
</div>
<div style="margin-top:10px;"></div>
<div class="container-fuild">
	<div id="news_list">
		<?php foreach ($news as $k => $v): ?>
			<div class="out-shadow">
				<div class="row panel-body reset-0" style="padding:10px;">
					<div class="col-xs-5 reset-0">
						<a href="" class="thumbnail reset-0">
							<img class="cover_image" src="{$v['cover_image']}" alt="logo"></a>
					</div>
					<div class="col-xs-7 reset-0">
						test
					</div>
				</div>
			</div>
		<?php endforeach; ?>
	</div>
</div>
<script>
	var cover_w = $(".cover_image").width();
	var cover_h = cover_w*80/125;
	$(".cover_image").height(cover_h)
</script>