<div>
    <div class="alert alert-info reset-0 index-h4">微风投路演</div>
    <div class="container" style="margin-top:10px;">
	    <div class="panel panel-default" style="padding:10px;">
		    <h5 style="color:#249ff1;">微风投首次路演在梧桐高尔夫举行 </h5>
		    <a href="{:U('Roadshow/index')}" class="thumbnail" style="margin-bottom:10px;padding:0;">
		        <img src="__SOURCE_URL__/Public/Home/images/pastLuyan/w-bannera02.jpg" alt="路演">
		    </a>
		    <p><a href="{:U('Roadshow/index')}" class="center">详情<span class="glyphicon glyphicon-chevron-right"></span></a></p>
	    </div>
    </div>
</div>