<div>
    <div class="alert reset-0 index-h4">微风投路演</div>
    <div class="container-fuild">
	    <div class="panel panel-default reset-0" style="padding:10px;">
		    <h5 style="color:#249ff1;font-size:16px;">微风投首次路演在梧桐高尔夫举行 </h5>
		    <a href="{:U('Roadshow/index')}" class="thumbnail" style="margin-bottom:10px;padding:0;">
		        <img src="__SOURCE_URL__/Public/Home/images/pastLuyan/w-bannera02.jpg" alt="路演">
		    </a>
		    <hr style="margin:0 0 10px 0;padding:0;">
		    <p class="reset-0"><a href="{:U('Roadshow/index')}" class="center">查看详情<span class="glyphicon glyphicon-chevron-right"></span></a></p>
	    </div>
    </div>
</div>