<div>
    <h4 class="alert alert-info">微风投路演</h4>
    <p>微风投首次路演在梧桐高尔夫举行 <a href="{:U('Roadshow/index')}" class="pull-right">详情<span class="glyphicon glyphicon-chevron-right"></span></a></p>
    <a href="{:U('Roadshow/index')}" class="thumbnail">
        <img src="__SOURCE_URL__/Public/Home/images/pastLuyan/w-bannera02.jpg" alt="路演">
    </a>
    <p class="pull-right"><small class="pull-left" style="margin-right:10px;">联系人：杜志刚 </small> <small class="pull-right">联系电话：0371-88882280</small></p>
</div>