<extend name="Base/layout"/>

<block name="body">
	<include file="info_logo" />
	<include file="info_attr" />
	<style>
	#info_toggles{
		background: #fff;
		margin-top: 5px;
	}
	.panel-body h5{
		font-size: 15px;
		color:#c78700;
		font-weight: bold;
	}
	.border_bottom-xxx{
		border-bottom: 1px #ccc solid;
	}
	</style>
	<script>
	jQuery(document).ready(function($) {
		$("#info_toggles").find(".panel-heading").on('click',function (e) {
			$(".accordion-toggle").html('<span class="glyphicon glyphicon-plus color-red"></span>')
			if ($(this).attr("aria-expanded")!="true") {
				$(this).find(".accordion-toggle").html('<span class="glyphicon glyphicon-minus color-red"></span>')
			}else{
				$(this).find(".accordion-toggle").html('<span class="glyphicon glyphicon-plus color-red"></span>')
			}
		})
		$(".accordion-toggle").on("click",function (e) {
			$(this).parents('.panel-heading').trigger('click')
			return false
		})
	});
	</script>
	<div class="panel-group" id="info_toggles">
		<include file="toggle_describe" />
		<include file="toggle_team" />
		<include file="toggle_cert" />
		<include file="toggle_photos" />
	</div>
</block>