<div id="loadshow"></div>
<div class="container-fuild">
	<div style="height:30px;line-height:30px;background:#fff;">
		<div id="addpros" class="center" style="color:#666;text-decoration:none;">更多</div>
	</div>
</div>
<script>
var i = 1
$("#addpros").on('click',function (e) {
	$("#addpros").text("加载中...")
	jQuery.post('{:get_url()}', {'start':i}, function(data, textStatus, xhr) {	
		if (data) {
			$("#loadshow").append(data)
			$("#addpros").text("更多")
		}else{
			$("#addpros").text("没有更多项目了")
			$("#addpros").attr({"id":""})
		}
		i++
	});
})
</script>