
<div class="panel">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#微风投认证">
		<div class="panel_heading_title">
			认证信息
			<a class="accordion-toggle pull-right" attrLinkId="微风投认证">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
	<style>
		.cert_info{
			margin: 10px 0 0 10px;
			font-weight: blod;
		}
	</style>
	<div id="微风投认证" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body">
			<?php if ($proInfo[0]['prrate']>1): ?>
				<div class="text-center text-success">
					(此项目为微风投认证项目，请放心投资)
				</div>
			<?php else: ?>
				<div class="text-center text-danger">
					(此项目未经微风投认证，投资需谨慎)
				</div>
			<?php endif; ?>
			<div class="cert_info">法人身份证正面<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['fornt']?'ok':'remove'; ?> pull-right"></span></div>
			<div class="cert_info">法人身份证反面<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['rear']?'ok':'remove'; ?> pull-right"></span></div>
			<div class="cert_info">法人证信报告<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['legalperson']?'ok':'remove'; ?> pull-right"></span></div>
			<div class="cert_info">营业执照副本<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['businesslicence']?'ok':'remove'; ?> pull-right"></span></div>
			<div class="cert_info">税务登记证副本<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['taxcertificate']?'ok':'remove'; ?> pull-right"></span></div>
			<div class="cert_info">公司照片<span class="glyphicon glyphicon-<?php echo $proInfo[0]['certInfo'][0]['companyimg']?'ok':'remove'; ?> pull-right"></span></div>
		</div>
	</div>
</div>