<div class="panel">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#图片展示">
		<div class="panel_heading_title">
			图片展示
			<a class="accordion-toggle pull-right">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
	<!-- layer -->
    <script src="__STATIC__/layer-v1.9.2/layer/layer.js"></script>
    <script src="__STATIC__/layer-v1.9.2/layer/extend/layer.ext.js"></script>
	<div id="图片展示" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body">
			<?php foreach ($proInfo[0]['primages'] as $k => $v): ?>
				<div class="primage text-center"><a href="__SOURCE_URL__/Uploads/PrImages/{$v['name']}" class="thumbnail"><img src="__SOURCE_URL__/Uploads/PrImages/{$v['thumbname']}"></a></div>
			<?php endforeach; ?>
		</div>
	</div>
</div>