<extend name="Base/layout"/>

<block name="head">

    <!-- layer -->
    <script src="__STATIC__/layer-v1.9.2/layer/layer.js"></script>
    <script src="__STATIC__/layer-v1.9.2/layer/extend/layer.ext.js"></script>
    
    <link rel="stylesheet" href="__STATIC__/bootstrapvalidator/dist/css/bootstrapValidator.css"/>
    <script type="text/javascript" src="__STATIC__/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="__STATIC__/bootstrapvalidator/dist/js/language/zh_CN.js"></script>
    <script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var userValidateUrl = "{:U('userValidate')}"
            $('#login').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            }
                        }
                    }
                }
            })
            $('#validateBtn').click(function () {
                $('#login').bootstrapValidator();
            });
            $('#resetBtn').click(function () {
                $('#login').data('bootstrapValidator').resetForm(true);
            });
            $('#login').ajaxForm({
                success: function (data) {
                    if (data=='欢迎登陆微风投手机版!') {
                        layer.alert(data,{ 
                            icon:1,
                            time: 5000
                        })
                        location.href="{:U('Home/Index/index')}"
                    }else if(data=="未激活邮箱!"){
                        location.href="{:U('Home/UserCenter/index')}"
                    }else{
                        layer.alert(data,{
                            icon:2
                        })
                    }
                }
            })
        });
    </script>
</block>

<block name="body">
    <div class="container">
        <div class="row">
            <section>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                        <h4>用户登录</h4>
                    </div>
                    <form action="{:U('userValidate')}" id="login" method="post" class="form-horizontal" >
                        <div class="form-group">
                            <label class="col-lg-3 control-label">用户名</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="username" / >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">密码</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="password" / >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary" name="isSubmit" value="ture">登陆</button>
                                <button type="button" class="btn btn-info" id="resetBtn">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</block>