<extend name="Base/layout"/>

<block name="head">
    <!-- layer -->
    <script src="__STATIC__/layer-v1.9.2/layer/layer.js"></script>
    <script src="__STATIC__/layer-v1.9.2/layer/extend/layer.ext.js"></script>
    
	<link rel="stylesheet" href="__STATIC__/bootstrapvalidator/dist/css/bootstrapValidator.css"/>
	<script type="text/javascript" src="__STATIC__/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrapvalidator/dist/js/language/zh_CN.js"></script>
	<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var usernameRemoteUrl = "{:U('usernameRemote')}"
		var emailRemoteUrl = "{:U('emailRemote')}"
	    function randomNumber(min, max) {
	        return Math.floor(Math.random() * (max - min + 1) + min);
	    };
	    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

	    $('#register').bootstrapValidator({
	        feedbackIcons: {
	            valid: 'glyphicon glyphicon-ok',
	            invalid: 'glyphicon glyphicon-remove',
	            validating: 'glyphicon glyphicon-refresh'
	        },
	        fields: {
	            username: {
	                message: 'The username is not valid',
	                validators: {
	                    notEmpty: {
	                        message: '用户名不能为空'
	                    },
	                    stringLength: {
	                        min: 4,
	                        max: 30,
	                        message: '用户名必须在4到30个字符之间'
	                    },
	                    regexp: {
	                        regexp: /^[a-zA-Z0-9_\.]+$/,
	                        message: '用户名不能有特殊字符'
	                    },
	                    remote: {
	                        url: usernameRemoteUrl,
	                        type:'post',
	                        data:{'username':$('input[name=username]').val()},
	                        message: '已存在该用户'
	                    },
	                    different: {
	                        field: 'password',
	                        message: '用户名不能和密码相同'
	                    }
	                }
	            },
	            email: {
	                validators: {
	                	notEmpty: {
	                        message: '邮箱不能为空'
	                    },
	                    emailAddress: {
	                        message: '不是正确的邮箱格式'
	                    },
	                    remote:{
	                    	url:emailRemoteUrl,
	                    	type:'post',
	                        data:{'email':$('input[name=email]').val()},
	                    	message:'已存在改邮箱'
	                    }
	                }
	            },
	            password: {
	                validators: {
	                    notEmpty: {
	                        message: '密码不能为空'
	                    },
	                    different: {
	                        field: 'username',
	                        message: '密码不能和用户名相同'
	                    }
	                }
	            },
	            confirmPassword: {
	                validators: {
	                    notEmpty: {
	                        message: '确认密码不能为空'
	                    },
	                    identical: {
	                        field: 'password',
	                        message: '密码和确认密码不相同'
	                    },
	                    different: {
	                        field: 'username',
	                        message: '密码不能和用户名相同'
	                    }
	                }
	            },
	            captcha: {
	                validators: {
	                    callback: {
	                        message: '验证码错误',
	                        callback: function(value, validator) {
	                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
	                            return value == sum;
	                        }
	                    }
	                }
	            }
	        }
	    });

	    $('#validateBtn').click(function() {
	        $('#register').bootstrapValidator('validate');
	    });

	    $('#resetBtn').click(function() {
	        $('#register').data('bootstrapValidator').resetForm(true);
	    });
	});
	</script>
</block>

<block name="body">
	<div class="container">
		<section>
			<div class="col-lg-8 col-lg-offset-2">
				<div class="page-header">
					<h4>用户注册 <span class="pull-right "><a href="{:U('login')}" class="color-red">登录</a></span></h4>
				</div>

				<form id="register" method="post" class="form-horizontal" action="">

					<div class="form-group">
						<label class="col-lg-3 control-label">邮箱 <small><small class="text text-warning">一旦注册成功不能修改</small></small></label>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="email" placeholder="请输入邮箱"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">昵称 <small><small class="text text-warning">一旦注册成功不能修改</small></small></label>
						<div class="col-lg-5">
							<input type="text" class="form-control" name="username" placeholder="请输入用户名"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">密码</label>
						<div class="col-lg-5">
							<input type="password" class="form-control" name="password" placeholder="请输入密码"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">确认密码</label>
						<div class="col-lg-5">
							<input type="password" class="form-control" name="confirmPassword" placeholder="再次重复密码"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label" id="captchaOperation"></label>
						<div class="col-lg-2">
							<input type="text" class="form-control" name="captcha" placeholder="请输入结果"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-9 col-lg-offset-3">
							<button type="submit" class="btn btn-primary" name="signup" value="Sign up">注册</button>
							<button type="button" class="btn btn-info" id="resetBtn">重置</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</block>