<?php foreach ($investors as $key =>
$invInfo): ?>
<?php 
$invdetail = get_child_detail($invInfo['id'],$style=2); 
?>
<div class="out-shadow" style="background:#fff;">
	<div class="panel-body reset-0" style="padding:10px;">
		<div class="inv_info">
			<div class="contailer-fuild">
				<div class="row reset-0">
					<div class="col-xs-3 reset-0"><a href="{:U('invInfo?invId='.$invdetail[0]['id'])}"><img src="__SOURCE_URL__/{$invdetail[0]['logo']}" class="img-circle img-responsive"></a></div>
					<div class="col-xs-9 reset-0" style="padding-left:5px;">
						<h5 class="reset-0"><b><a style="text-decoration: none;color:#333;" href="{:U('invInfo?invId='.$invdetail[0]['id'])}"><?php echo $invdetail[0]['showname']?$invdetail[0]['showname']:$invdetail[0]['username'] ?></a></b></h5>
						<div style="margin-top:4px;">
							投资意向：
							<?php 
								$x = str_replace('&nbsp;',' ',$invdetail[0]['intentionname']);
								if (mb_strlen($x,'utf-8')>11) {
									$x = mb_substr($x,0,11,"UTF-8");
									$x = $x."...";
								}
							?>
							{$x}
						</div>
						<div style="margin-top:2px;">
							投资金额：￥{:breviary_money($invdetail[0]['min_maney'])}-￥{:breviary_money($invdetail[0]['max_maney'])}
						</div>
						<div class="container-fuild color-888" style="font-size:13px;margin-top:1px;">
							<div class="row reset-0">
								<div class="col-xs-4 reset-0 text-left">粉丝:<?php
									echo count(M('Attention')->where("atted_id=".$invdetail[0]['uid'])->field("id")->select());
								?></div>
								<div class="col-xs-4 reset-0 text-center">约谈:<?php
									echo count(M('Webmsg')->where("sendid=".$invdetail[0]['uid']." OR receiveuid=".$invdetail[0]['uid'])->field("id")->select());
								?></div>
								<div class="col-xs-4 reset-0 text-right">投资:<?php
									echo count(M('Financing')->where("pid=".$invdetail[0]['uid'])->field("id")->select());
								?></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 
<div style="margin-top:5px;"></div>
<?php endforeach; ?>
<style>
	h5{
		font-size: 16px;
	}
</style>