<?php foreach ($news as $k =>
$v): ?>
<div class="out-shadow">
	<div class="margin_top_5" style="border-top:solid #ccc 1px;"></div>
	<div class="row panel-body reset-0 bk-fff" style="padding:10px;">
		<div class="col-xs-8 reset-0">
			<div class="news_title">
				<a href="{:U('News/newsInfo',array('newsId'=>$v['id']))}" style="text-decoration: none;color:#333;font-size:16px;">
					<?php 
						$x = str_replace('&nbsp;',' ',$v['title']);
						if (mb_strlen($x,'utf-8')>22) {
							$x = mb_substr($x,0,22,"UTF-8");
							$x = $x."...";
						}
					?>
					{$x}
				</a>
			</div>
			<div class="news_author" style="color:#888;margin-top:20px;">
				<span>
					{$v.uid|get_username}&nbsp;&nbsp;&nbsp;&nbsp;{$v.create_time|date='Y-m-d',###}
				</span>
			</div>
		</div>
		<div class="col-xs-4 reset-0" style="padding-left:10px;">
			<a href="{:U('News/newsInfo',array('newsId'=>$v['id']))}" class="thumbnail reset-0">
				<img class="cover_image" src="{$v['cover_image']}" alt="logo"></a>
		</div>
	</div>
</div>
<?php endforeach; ?>
<script>
jQuery(document).ready(function($) {
	//新闻图片一致
	var cover_w = $(".cover_image").parents(".col-xs-4").width();
	var cover_h = cover_w*80/125;
	$(".cover_image").height(cover_h)
	//作者时间位置
	$("#news_list").find('.panel-body').each(function (e) {
		var news_h1 = cover_h
		var news_h2 = $(this).find('.news_title').height()
		var news_h3 = $(this).find('.news_author').height()
		var margin_top_h = news_h1-news_h2-news_h3
		$(this).find('.news_author').css({'margin-top':margin_top_h})
	})
	$("#news_list").find(".margin_top_5").first().remove()
});
</script>