<extend name="Base/layout"/>

<block name="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div style="margin-bottom:20px;"></div>
				<div class="panel panel-default">
					<div class="row">
						<div class="col-xs-5">
							<a href="" class="thumbnail" style="margin-bottom:0px;">
								<img class="img-circle" src="__SOURCE_URL__/Uploads/Investor/thumb_20150123145941_262.jpg" alt="..."></a>
						</div>
						<div class="col-xs-7">
							<p style="margin:0;">杜志刚</p>
							<p style="margin:0;">投资意向：</p>
							<p style="margin:0;">￥3000000-￥5000000</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>