<div class="panel border_bottom-xxx">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#关注的项目">
		<div class="panel_heading_title">
			关注的项目
			<a class="accordion-toggle pull-right" attrLinkId="关注的项目">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
	<div id="关注的项目" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body">
			<?php 
				$projects = M('Attention')->where("uid=".$invInfo[0]['uid']." AND attd_style=1")->field("atted_childid AS id")->select();
			?>
			<?php if ($projects): ?>
				<include file="Template:project_list.tpl1" />
			<?php else: ?>
				暂无	
			<?php endif; ?>
		</div>
	</div> 
</div>