<div class="panel border_bottom-xxx">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#已投资的项目">
		<div class="panel_heading_title">
			已投资的项目
			<a class="accordion-toggle pull-right" attrLinkId="已投资的项目">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
	<div id="已投资的项目" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body">
			<?php 
				$projects = M('Financing')->where("pid=".$invInfo[0]['uid'])->field("prid AS id")->select();
			?>
			<?php if ($projects): ?>
				<include file="Template:project_list.tpl1" />
			<?php else: ?>
				<div class="panel-body">暂无</div>
			<?php endif; ?>
		</div>
	</div>
</div>