<div class="panel border_bottom-xxx">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#关注的项目">
		<div class="panel_heading_title">
			关注的项目
			<a class="accordion-toggle pull-right" attrLinkId="关注的项目">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
	<div id="关注的项目" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body reset-0">
			<?php 
				$projects = M('Attention')->where("uid=".$invInfo[0]['uid']." AND attd_style=1")->field("atted_childid AS id")->select();
			?>
			<?php if ($projects): ?>
				<include file="Template:project_list.tpl1" />
			<?php else: ?>
				<div class="panel-body">暂无</div>
			<?php endif; ?>
		</div>
	</div> 
	<script>
	$(".panel-heading[href=#关注的项目]").on('click',function (e) {
		//项目图片图片等比显示
		$("img.proLogo").resize(function(e){
			var xwidth = $(".proLogo").parents(".col-xs-6").width();
			var xheight = xwidth*80/145
			$(".proLogo").height(xheight)
		})
		$(".pros_margin_top_5").last().remove()
	})
	</script>
</div>