<div class="panel border_bottom-xxx">
	<div class="panel-heading" data-toggle="collapse" data-parent="#info_toggles" href="#投资案例">
		<div class="panel_heading_title">
			投资案例
			<a class="accordion-toggle pull-right" attrLinkId="投资案例">
				<span class="glyphicon glyphicon-plus color-red"></span>
			</a>
		</div>
	</div>
	<div id="投资案例" class="panel-collapse collapse" style="height: auto;">
		<div class="panel-body">
			<?php $cases = M('InvCase')->where("inv_id=".$invInfo[0]['id'])->select(); ?>
			<?php if (!$cases): ?>
				暂无
			<?php else: ?>
				<?php foreach ($cases as $k => $v): ?>
					{$v['pname']}:{$v['purl']}
				<?php endforeach; ?>
			<?php endif; ?>
		</div>
	</div>
</div>