<extend name="Base/layout"/>

<block name="body">
	<div class="container">
		<div class="row">
			<div style="margin-top:20px;"></div>
			<div class="col-xs-12">
				<div>
					<h5 class="alert alert-info">第一期微电影</h5>
					<?php if ($proInfo[0][videoweb]):
		                $x = $proInfo[0][videoweb];
		            else:
		                $x = 'XODMwNjE3ODIw';
		            endif; ?>

					<div id="youkuplayer" style="width:auto;height:auto;"></div>

					<script type="text/javascript" src="http://player.youku.com/jsapi">

					player = new YKU.Player('youkuplayer',{

					styleid: '0',

					client_id: 'YOUR YOUKUOPENAPI CLIENT_ID',

					vid: "{$x}"

					});

					</script>
				</div>
				<div>
					<p>1014-09-24</p>
					<p>content</p>
				</div>
			</div>
			<div class="col-xs-12">
				<div>
					<h5 class="alert alert-info">往期微电影</h5>
					<ul class="list-group">
						<li class="list-group-item">Cras justo odio <span class="pull-right">2014-09-24</span></li>
						<li class="list-group-item">Cras justo odio <span class="pull-right">2014-09-24</span></li>
						<li class="list-group-item">Cras justo odio <span class="pull-right">2014-09-24</span></li>
						<li class="list-group-item">Cras justo odio <span class="pull-right">2014-09-24</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</block>